@tailwind base;
@tailwind components;
@tailwind utilities;
.anime {
  animation-name: slide;
}

@keyframes slide {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0px);
  }
}
